<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TsuyoiGym</display-name>
  <welcome-file-list>
    <welcome-file>Principal.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogueo</display-name>
    <servlet-name>ServletLogueo</servlet-name>
    <servlet-class>tsuyoigym.servlets.ServletLogueo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogueo</servlet-name>
    <url-pattern>/ServletLogueo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistro</display-name>
    <servlet-name>ServletRegistro</servlet-name>
    <servlet-class>tsuyoigym.servlets.ServletRegistro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistro</servlet-name>
    <url-pattern>/ServletRegistro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerfil</display-name>
    <servlet-name>ServletPerfil</servlet-name>
    <servlet-class>tsuyoigym.servlets.ServletPerfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerfil</servlet-name>
    <url-pattern>/ServletPerfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDieta</display-name>
    <servlet-name>ServletDieta</servlet-name>
    <servlet-class>tsuyoigym.servlets.ServletDieta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDieta</servlet-name>
    <url-pattern>/ServletDieta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRutina</display-name>
    <servlet-name>ServletRutina</servlet-name>
    <servlet-class>tsuyoigym.servlets.ServletRutina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRutina</servlet-name>
    <url-pattern>/ServletRutina</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMaquina</display-name>
    <servlet-name>ServletMaquina</servlet-name>
    <servlet-class>tsuyoigym.servlets.ServletMaquina</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMaquina</servlet-name>
    <url-pattern>/ServletMaquina</url-pattern>
  </servlet-mapping>
</web-app>